<div class="container">
  <div class="content" [ngClass]="{'warning': cssClass == 'warning', 'danger': cssClass == 'danger', 'success': (cssClass == 'primary') || cssClass == 'success'}">
    <div class="body">
      <!--<div class="body-img success-img" *ngIf="cssClass == 'primary'"></div>-->
      <img class="body-img" *ngIf="cssClass == 'success' || cssClass == 'primary'" src="assets/img/onboarding-success.svg">
      <img class="body-img" *ngIf="(cssClass != 'success' && cssClass != 'primary')" src="assets/img/warning.svg">
      <div class="body-text">
        {{finishText}}
      </div>
      <div class="body-comment">
        {{finishComment}}
      </div>
    </div>
  </div>
  <div class="footer" (click)="close()">
    OK
  </div>
</div>