<ion-header class="bp-header">
  <ion-navbar>
    <ion-title>
      <div
        [reveal-at-scroll-pos]="expandableHeader.headerHeight"
        [scrollArea]="scrollArea"
      >
        {{'Convert' | translate }}
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #scrollArea>
  <expandable-header
    [scrollArea]="scrollArea"
    [fadeFactor]="5"
    [disableFade]="true"
    #expandableHeader
  >
    <ion-toolbar class="wide-header__title">
      <expandable-header-primary></expandable-header-primary>
    </ion-toolbar>
  </expandable-header>

  <div page-content class="calculator-page">
    <ion-list class="calculator-list bp-list">
      <div class="calculator-explanation">
        <div class="calculator-heading" translate>Convert</div>
      </div>

      <div class="calculator-convert-type">
        <div class="calculator-convert-type-send">
          <span>{{ formCoins.amountSend }}</span>
          <ion-icon class="item-img icon-settings" item-start>
            <img
              src="assets/img/calculator/{{ coinInfo[formCoins.send] }}.svg"
              width="30"
            />
          </ion-icon>
          {{ formCoins.send }}
        </div>

        <ion-icon class="item-img icon-settings" item-start>
          <img src="assets/img/calculator/arrow-right.svg" width="22" />
        </ion-icon>

        <div class="calculator-convert-type-get">
          <span>{{ formCoins.amountGet }}</span>
          <ion-icon class="item-img icon-settings" item-start>
            <img
              src="assets/img/calculator/{{ coinInfo[formCoins.get] }}.svg"
              width="30"
            />
          </ion-icon>
          {{ formCoins.get }}
        </div>
      </div>

      <form >
        <div class="calculator-convert-group" (click)="openAddressListSend(walletsInfoSend)">
          <span class="calculator-convert-label"
            >{{'Choose address to pay' | translate}}</span
          >
          <div class="calculator-convert-select">
            <span *ngIf="!sendAddress" class="calculator-convert-select-placeholder">Select your address</span>
            <div *ngIf="!fullSize" class="calculator-convert-select-address">{{sendAddress | shortenedAddress: 22}}</div>
            <div *ngIf="fullSize" class="calculator-convert-select-address">{{sendAddress}}</div>
            <div class="calculator-convert-select-icon">
              <ion-icon name="arrow-dropdown"></ion-icon>
            </div>
          </div>
        </div>


        <div class="calculator-convert-group" [ngClass]="{active: !sendAddress}" (click)="openAddressListGet(walletsInfoGet)">
          <span class="calculator-convert-label"
            >{{'Choose address to get' | translate}}</span
          >
          <div class="calculator-convert-select">
            <span *ngIf="!sendAddress" class="calculator-convert-select-placeholder">Select your address</span>
            <div *ngIf="!fullSize" class="calculator-convert-select-address">{{getAddress | shortenedAddress: 22}}</div>
            <div *ngIf="fullSize" class="calculator-convert-select-address">{{getAddress}}</div>
            <div class="calculator-convert-select-icon">
              <ion-icon name="arrow-dropdown"></ion-icon>
            </div>
          </div>
        </div>

        <button
          ion-button
          class="button-standard calculator-button"
          (click)="inizilizationOfSend()"
          [disabled]="(!sendAddress || !getAddress) || sendDisabled"
        >
          {{'Send' | translate}}
        </button>
      </form>
    </ion-list>
  </div>
</ion-content>
