<ion-header class="bp-header">
  <ion-navbar>
    <ion-title>
      <div [reveal-at-scroll-pos]="expandableHeader.headerHeight" [scrollArea]="scrollArea">
        {{'Convert' | translate }}
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #scrollArea>

  <expandable-header [scrollArea]="scrollArea" [fadeFactor]="5" [disableFade]="true" #expandableHeader>
    <ion-toolbar class="wide-header__title">
      <expandable-header-primary></expandable-header-primary>
    </ion-toolbar>
  </expandable-header>

  <div page-content class="calculator-page">

    <ion-list class="calculator-list bp-list">

      <div class="calculator-explanation">
        <div class="calculator-heading" translate>Convert</div>
      </div>

      <div class="calculator-convert-type">
        <div class="calculator-convert-type-send">
          <span>{{ formCoins.amountSend }}</span>
          <ion-icon class="item-img icon-settings" item-start>
            <img src="assets/img/calculator/{{ coinInfo[formCoins.send] }}.svg" width="30">
          </ion-icon>
          {{ formCoins.send }}
        </div>

        <ion-icon class="item-img icon-settings" item-start>
          <img src="assets/img/calculator/arrow-right.svg" width="22">
        </ion-icon>

        <div class="calculator-convert-type-get">
          <span>{{ formCoins.amountGet }}</span>
          <ion-icon class="item-img icon-settings" item-start>
            <img src="assets/img/calculator/{{ coinInfo[formCoins.get] }}.svg" width="30">
          </ion-icon>
          {{ formCoins.get }}
        </div>
      </div>

      <form [formGroup]="ConvertGroupForm">

        <div class="calculator-convert-group">

          <span class="calculator-convert-label">{{'Choose address to get' | translate}}</span>

          <div class="calculator-convert-group">

            <ion-item class="calculator-convert-input">
              <ion-input placeholder="Enter or select an address" type="text"
                formControlName="ConvertFormGroupAddressGetInput"
                [value]="ConvertGroupForm.value.ConvertFormGroupAddressGetInput" required>
              </ion-input>
            </ion-item>

            <ion-item *ngIf="walletsChecker" class="calculator-convert-select"
              (click)="openAddressList(walletsInfoGet, 'Get')">
              <ion-icon name="arrow-dropdown"></ion-icon>
            </ion-item>

          </div>

        </div>

        <div class="calculator-convert-group">

          <span class="calculator-convert-label">{{'Choose address to pay' | translate}}</span>

          <div class="calculator-convert-group">

            <ion-item class="calculator-convert-input">
              <ion-input placeholder="Enter or select an address" type="text"
                formControlName="ConvertFormGroupAddressSendInput"
                [value]="ConvertGroupForm.value.ConvertFormGroupAddressSendInput" required>
              </ion-input>
            </ion-item>

            <ion-item *ngIf="walletsChecker" class="calculator-convert-select"
              (click)="openAddressList(walletsInfoSend,'Send')">
              <ion-icon name="arrow-dropdown"></ion-icon>
            </ion-item>

          </div>

        </div>

        <button ion-button class="button-standard calculator-button" (click)="goToSendPage()"
          [disabled]="!ConvertGroupForm.valid">
          {{'Send' | translate}}
        </button>
      </form>

    </ion-list>

  </div>
</ion-content>