tx-confirm {
  .header {
    &-logo {
      margin-top: 40px;
    }
    &-icon {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
  .container-actions {
    padding: 0 10%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      color: #1A1A1A;
      margin: 20px 0;
    }
    &-subtile {
      margin-top: 20px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
    &-address {
      display: flex;
      background: #E8E8E8;
      border-radius: 4px;
      align-items: center;
      justify-content: center;
      padding: 5px 8px;
      margin: 32px auto;
      width: max-content;
      align-content: center;
      .copy-icon {
        display: flex;
        padding-left: 18px;
      }
    }
  }

  .total {
    &-title {
      margin-top: 18px;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      justify-content: center;
      .check-icon {
        margin-right: 10px;
      }
    }
    &-amount {
      font-weight: 700;
      font-size: 24px;
      line-height: 20px;
      color: #862633;
      margin: 8px 0 16px 0;
    }
    &-fee {
      margin: 20px 0 32px 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }

  }

  button {
    margin-top: 12px !important;
  }

  .button {
    &-confirm {
      margin-bottom: 25px;
      padding: 0 10%;
    }
    &-default {
      background: #862633;
      border-radius: 33px;
      width: 100%;
      height: 60px;
      color: #FFFFFF;
      margin: 0;
      max-width: none;
    }
    &-outline {
      font-weight: 700;
      cursor: pointer;
      border: 2px solid #862633;
      background-color: white;
      color: #862633;
      width: 100%;
      height: 60px;
      border-radius: 33px;
        &:hover {
          color: white;
          background-color: #862633;
        }
      }
  }
  
}