<ion-header class="bp-header">
  <ion-navbar>
    <ion-title>
      <div
        [reveal-at-scroll-pos]="expandableHeader.headerHeight"
        [scrollArea]="scrollArea"
      >
        {{ 'Voucher' | translate }}
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #scrollArea>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="wrapper">
    <expandable-header
      [scrollArea]="scrollArea"
      [fadeFactor]="5"
      [disableFade]="true"
      #expandableHeader
    >
      <ion-toolbar class="wide-header__title">
        <expandable-header-primary> {{ 'Voucher' | translate }} </expandable-header-primary>
      </ion-toolbar>

    </expandable-header>

    <ion-list class="voucher-list">
      <div *ngIf="!vouchersLoading">
        <div *ngFor="let item of vouchers">
          <ion-item class="voucher-item" *ngIf="!item.withdrawn">
            <ion-label class="voucher-item-inner">
              <div class="voucher-item-info">
                <span class="voucher-item-title"> {{ item.ducAmount }} DUC </span>
                <span *ngIf="item.daysToUnlock" class="voucher-item-date"> {{ item.daysToUnlock }} Days to unlock </span>
              </div>
              <div
                class="voucher-item-info"
                [ngClass]="{'voucher-item-info-unactive': item.ready_to_withdraw }"
              >
                <div *ngIf="item.withdrow_check">
                  <span ion-button class="voucher-item-loading">
                    <ion-spinner name="dots"></ion-spinner>
                  </span>
                </div>
                <div *ngIf="!item.withdrow_check" style="text-align: center;">
                  <div
                    *ngIf="!item.readyToWithdraw"
                    class="voucher-item-info-unactive-button"
                  >
                    <img
                      src="./assets/img/icon-lock-brown.svg"
                      width="14px"
                      height="18px"
                    />
                    <span
                      *ngIf="!item.readyToWithdraw"
                      ion-button
                      class="voucher-item-button"
                      >WITHDRAW</span
                    >
                  </div>
                  <span
                    *ngIf="item.readyToWithdraw"
                    ion-button
                    class="voucher-item-button"
                    (click)="withdrowTrigger(item.id)"
                    >WITHDRAW</span
                  >
                </div>
              </div>
            </ion-label>
          </ion-item>
        </div>
      </div>

      <div *ngIf="vouchersLoading"><ion-spinner name="dots"></ion-spinner></div>

      <div class="voucher-add">
        <span
          ion-button
          (click)="goToVoucehrAddPage()"
          class="voucher-add-button icon icon__add"
        >
          New Voucher
        </span>
      </div>
    </ion-list>
  </div>
</ion-content>