<ion-header class="bp-header">
  <ion-navbar>
    <ion-title>
      <div
        [reveal-at-scroll-pos]="expandableHeader.headerHeight"
        [scrollArea]="scrollArea"
      >
        {{ 'Voucher' | translate }}
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #scrollArea>
  <div class="wrapper">
    <expandable-header
      [scrollArea]="scrollArea"
      [fadeFactor]="5"
      [disableFade]="true"
      #expandableHeader
    >
      <ion-toolbar class="wide-header__title">
        <expandable-header-primary>
          {{ 'Voucher' | translate }}
        </expandable-header-primary>
      </ion-toolbar>
    </expandable-header>

    <ion-list class="voucher-list">
      <div *ngIf="!vouchersLoading">
        <ion-item class="voucher-item" *ngFor="let item of vouchers">
          <ion-label class="voucher-item-inner">
            <div class="voucher-item-info">
              <span class="voucher-item-title">{{ item.duc_amount }} DUC</span>
              <span class="voucher-item-date"
                >{{ item.cltv_details.frozen_at | date:'dd.LL.y' }}</span
              >
            </div>
            <div
              class="voucher-item-info"
              [ngClass]="{'voucher-item-info-unactive': item.ready_to_withdraw }"
            >
              <div
                *ngIf="!item.ready_to_withdraw"
                class="voucher-item-info-unactive-button"
              >
                <img
                  src="./assets/img/icon-lock-brown.svg"
                  width="14px"
                  height="18px"
                />
                <span
                  *ngIf="!item.ready_to_withdraw"
                  ion-button
                  class="voucher-item-button"
                  >WITHDRAW</span
                >
              </div>
              <span *ngIf="!item.ready_to_withdraw" class="voucher-item-text"
                >Available in {{ item.freez_date_count }} days</span
              >
              <span
                *ngIf="item.ready_to_withdraw"
                ion-button
                class="voucher-item-button"
                (click)="withdrowTrigger(item.id)"
                >WITHDRAW</span
              >
            </div>
          </ion-label>
        </ion-item>
      </div>

      <div *ngIf="vouchersLoading"><ion-spinner name="dots"></ion-spinner></div>

      <div class="voucher-add">
        <span
          ion-button
          (click)="goToVoucehrAddPage()"
          class="voucher-add-button icon icon__add"
          >New Voucher</span
        >
      </div>

      <div class="voucher-add">
        <span
          ion-button
          (click)="withdrowTrigger(3)"
          class="voucher-add-button icon icon__add"
          >test</span
        >
      </div>
    </ion-list>
  </div>

  <!--
    <div class="control-container" ion-fixed>
      <div class="ducatus-scan-buttons">
        <button class="ducatus-scan-button" (click)="openMoonPay()">
          <span class="ducatus-scan-button_icon">
            <img src="assets/img/tab-icons/tab-buy.svg" />
          </span>
          <span class="ducatus-scan-button_icon_active">
            <img src="assets/img/tab-icons/tab-buy-active.svg" />
          </span>
          <span class="ducatus-scan-button_text" translate>Buy</span>
        </button>
        <button class="ducatus-scan-button" (click)="openSwap()">
          <span class="ducatus-scan-button_icon">
            <img src="assets/img/tab-icons/tab-swap.svg" />
          </span>
          <span class="ducatus-scan-button_icon_active">
            <img src="assets/img/tab-icons/tab-swap-active.svg" />
          </span>
          <span class="ducatus-scan-button_text" translate>Swap</span>
        </button>
        <button class="ducatus-scan-button">
          <span class="ducatus-scan-button_icon">
            <img src="assets/img/tab-icons/tab-deposits.svg" />
          </span>
          <span class="ducatus-scan-button_icon_active">
            <img src="assets/img/tab-icons/tab-deposits-active.svg" />
          </span>
          <span class="ducatus-scan-button_text" translate>Deposits</span>
        </button>
        <button class="ducatus-scan-button activated">
          <span class="ducatus-scan-button_icon">
            <img src="assets/img/tab-icons/tab-voucher.svg" />
          </span>
          <span class="ducatus-scan-button_icon_active">
            <img src="assets/img/tab-icons/tab-voucher-active.svg" />
          </span>
          <span class="ducatus-scan-button_text" translate>Voucher</span>
        </button>
      </div>
    </div>
  -->
</ion-content>
