.freeze {
  &-list {
    padding: 18px;
    margin-bottom: 100px;
  }

  &-group {
    &-btn {
      display: flex;
      align-items: center;
      width: 100%;
      flex-direction: column;

      &-devidends {
        background: #ccb688;
        border-radius: 12px 12px 0 0px;
        padding: 7px 15px;
        font-weight: bold;
        text-align: center;
        min-width: 190px;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
      }
      &-button {
        min-width: 260px;
        margin-top: 0;
      }
    }

    &-radio {
      display: flex;
      background-color: white;
      border-radius: 100px;
      padding: 10px;
      max-width: 215px;
      align-items: center;
      justify-content: center;

      .item-radio-checked {
        background-color: #862633 !important;
        color: white !important;

        .label {
          color: white !important;
          font-weight: bold;
          .icon {
            color: white !important;
            font-weight: bold;
          }
        }
      }

      .item {
        width: 65px;
        background-color: transparent;
        border-radius: 30px;
        min-height: 45px !important;
        height: 45px !important;
        padding: 0 !important;

        .item-inner {
          margin: 0 !important;
          padding: 0 !important;
        }

        .input-wrapper {
          min-width: 100%;
          .label {
            margin: 0 !important;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .radio-icon {
          display: none !important;
        }
      }
    }
  }

  &-btn-sendmax {
    position: absolute;
    top: 12px;
    width: 100px;
    right: 10px;
    cursor: pointer;
    border: 1px solid #ccb689;
    border-radius: 4px;
    text-align: center;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    color: #862633;
    background: white;
  }

  &-range-limit {
    height: 3px;
    border-radius: 30px;
    width: 100%;
    background-color: #eaac31;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &-item {
    padding: 10px 10px 10px 15px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    height: 88px;

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      height: 100%;
    }

    .item-inner {
      border-bottom: none !important;
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: baseline;

      &:nth-child(2) {
        align-items: flex-end;
      }

      &-unactive {
        &-button {
          display: flex;
          align-items: center;

          img {
            margin-right: 10px;
          }

          .freeze-item-button {
            opacity: 0.5;
          }
        }
      }
    }

    &-title {
      font-weight: 600;
      font-size: 16px;
      color: #862633;
      margin-bottom: 5px;

      &-freeze {
        color: #3dbc6e;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        margin-left: 5px;
      }
    }

    &-date {
      margin-top: 5px;
      font-size: 14px;
      color: #000000;
      opacity: 0.85;
    }

    &-percent {
      background: #c2b395;
      border-radius: 40px;
      color: white;
      padding: 10px 15px;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
    }

    &-loading {
      background: #f4efe4;
      border-radius: 33px;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: black;
      width: 115px;
      padding: 10px 15px;
      cursor: pointer;
      height: 40px;

      &:hover {
        background-color: #f4efe4 !important;
      }
    }

    &-button {
      background: #862633;
      border-radius: 33px;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #ffffff;
      width: 115px;
      padding: 10px 15px;
      cursor: pointer;
      height: 40px;
    }

    &-text {
      font-size: 13px;
      text-align: right;
      letter-spacing: 0.5px;
      color: #862633;
      margin-top: 7px;
    }
  }

  &-add {
    margin-top: 20px;
    width: 100%;
    background-color: transparent;

    img {
      margin-right: 10px;
    }

    &-button {
      background: #862633;
      display: block;
      border-radius: 33px;
      width: 140px;
      padding: 15px 20px;
      margin: 0 auto;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #ffffff;
      cursor: pointer;
      height: 50px;
    }

    &-page {
      &-button {
        min-width: 100%;
        width: 100%;
      }
    }

    &-group {
      position: relative;
      border-radius: 4px;

      &-wrap {
        position: relative;
        border-radius: 4px;
        margin-bottom: 30px;
      }
    }

    &-label {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      opacity: 0.5;
      margin-bottom: 10px;
      display: block;
    }

    &-input {
      background: #fff;
      border-radius: 4px;
      padding-left: 5px !important;
    }

    &-select {
      position: absolute;
      top: 0;
      width: 40px;
      right: 0;
      cursor: pointer;
      border-radius: 0px 4px 4px 0px !important;
      margin: 0 !important;
      padding: 0 !important;
      height: 100%;

      .item-inner {
        margin: 0 !important;
        padding: 0 !important;
      }

      .label-md {
        margin: 0 10px !important;
        font-size: 25px !important;
      }
    }
  }

  &-alert {
    .alert-wrapper {
      max-width: 340px;
      width: 100%;
      background: #ffffff;
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      padding: 25px;
    }

    .alert-head {
      padding: 0;
      margin-bottom: 15px;
      text-align: center;
    }

    .alert-message {
      padding: 0;
      margin-bottom: 15px;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      text-align: center;
      color: #000000;
    }

    .activated {
      background-color: #862633b0;
    }

    .alert-button {
      background: #862633;
      border-radius: 33px;
      color: white;
      width: 150px;
      margin: 0 auto;

      .button-inner {
        justify-content: center;
      }
    }
  }
}
