<ion-header class="bp-header">
  <ion-navbar>
    <ion-title>
      <div
        [reveal-at-scroll-pos]="expandableHeader.headerHeight"
        [scrollArea]="scrollArea"
      >
        {{ 'Create Deposit' | translate }}
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content #scrollArea>
  <expandable-header
    [scrollArea]="scrollArea"
    [fadeFactor]="5"
    [disableFade]="true"
    #expandableHeader
  >
    <ion-toolbar class="wide-header__title">
      <expandable-header-primary></expandable-header-primary>
    </ion-toolbar>
  </expandable-header>
  <div page-content class="deposit-page">
    <ion-list class="deposit-list bp-list">
      <form [formGroup]="DepositGroup">
        <div class="deposit-add-group-wrap">
          <span class="deposit-add-label"
            >{{ 'Choose DUC address to be deducted' | translate }}</span
          >
          <div class="deposit-add-group">
            <ion-item class="deposit-add-input">
              <ion-input
                placeholder="Choose DUC address to be deducted"
                type="text"
                [readonly]="true"
                formControlName="AddressFrom"
                [value]="DepositGroup.value.AddressFrom"
              >
              </ion-input>
            </ion-item>
            <ion-item
              *ngIf="walletAddresses"
              class="deposit-add-select"
              (click)="openAddressList()"
            >
              <ion-icon name="arrow-dropdown"></ion-icon>
            </ion-item>
          </div>
        </div>

        <div class="deposit-add-group-wrap">
          <span class="deposit-add-label"
            >{{'Receiver address' | translate}}</span
          >
          <div class="deposit-add-group">
            <ion-item class="deposit-add-input" [ngClass]="{'invalid': invalidAddress }">
              <ion-input
                placeholder="Input receiver address"
                (input)="changeAddressTo(DepositGroup.value.AddressTo)"
                type="text"
                formControlName="AddressTo"
                [value]="DepositGroup.value.AddressTo"
              >
              </ion-input>
            </ion-item>
          </div>
        </div>

        <div class="deposit-add-group-wrap">
          <span class="deposit-add-label">{{ 'Amount' | translate }}</span>
          <div class="deposit-add-group">
            <ion-item class="deposit-add-input">
              <ion-input
                placeholder="Enter amount"
                type="number"
                formControlName="Amount"
                (input)="changeAmount()"
                [(ngModel)]="amountWallet"
                [value]="DepositGroup.value.Amount"
              >
              </ion-input>
            </ion-item>
            <div 
              (click)="changeAmountToMax()" 
              class="deposit-btn-sendmax"
            >
              {{ 'Send Max' | translate }}
            </div>
          </div>
        </div>

        <div class="deposit-add-group-wrap">
          <span class="deposit-add-label">{{ 'Month' | translate }}</span>
          <div class="deposit-add-group">
            <ion-item class="deposit-add-input">
              <ion-input
                placeholder="Enter Month"
                type="number"
                (input)="monthChange()"
                formControlName="Month"
                [(ngModel)]="depositMonth"
                [value]="DepositGroup.value.Month"

              >
              </ion-input>
            </ion-item>
          </div>
        </div>

        <div class="deposit-group-btn">
          <button
            ion-button
            class="deposit-group-btn-button button-standard deposit-item-button deposit-add-page-button"
            (click)="generateUserDeposit()"
            [disabled]="!DepositGroup.valid || depositLoading"
          >
            <span *ngIf="!depositLoading">{{ 'Deposit' | translate }}</span>
            <ion-spinner *ngIf="depositLoading" name="bubbles"></ion-spinner>
          </button>
        </div>
      </form>
    </ion-list>
  </div>
</ion-content>
