page-stake-add {
  .chip {
    &-container {
      background-color: #FFFFFF;
      border-radius: 33px;
      padding: 9px;
      display: inline-block;
    }
    &-center {
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      color: #FFFFFF;
      background-color: #862633;
      border-radius: 33px;
      height: 44px;
      width: 67px;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
}