wallet-item-content {
  ion-item {
    margin-top: 1px;
    .label-md {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .item-inner {
      border-bottom: 0px !important;
    }
  }
  .wallet-warning {
    color: color($colors, danger);
    ion-label {
      white-space: inherit;
    }
  }
}
