wallet-item-content {
  .secondary-label {
    &.warning {
      height: 27px;
    }
  }
  ion-item {
    margin-top: 1px;
    .label-md {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .item-inner {
      border-bottom: 0px !important;
      .note {
        flex: 0 0 15%;
        div {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
      }
    }
  }
  .wallet-warning {
    line-height: 13px;
    color: color($colors, danger);
    ion-label {
      white-space: inherit;
    }
  }
}
