<wide-header-page>
  <div page-content class="calculator-page">
    <ion-list class="calculator-list bp-list">
      <div class="calculator-explanation">
        <div class="calculator-heading" translate>Calculator</div>
      </div>

      <form [formGroup]="calculatorForm">
        <div class="calculator-form-group">
          <ion-item class="calculator-input">
            <ion-label stacked>{{'Send' | translate}}</ion-label>
            <ion-input
              [disabled]="!rates"
              type="number"
              formControlName="sendAmount"
              [value]="calculatorForm.value.sendAmount"
              (click)="selectInputType('Send')"
              (ionChange)="changeAmount('Send')"
              required
            >
            </ion-input>
          </ion-item>

          <ion-item
            class="calculator-select calculator-loading-select"
            *ngIf="!rates"
          >
            <ion-spinner name="dots"></ion-spinner>
          </ion-item>

          <ion-item class="calculator-select" *ngIf="rates">
            <ion-select
              class="calculator-select-ion"
              interface="popover"
              formControlName="sendCoin"
              [(ngModel)]="calculatorForm.value.sendCoin"
              (ionChange)="changeCoin('Send')"
            >
              <ion-option
                *ngFor="let item of convertSendCoins"
                [value]="item"
                >{{ item }}</ion-option
              >
            </ion-select>
          </ion-item>
        </div>

        <ion-item class="calculator-text" *ngIf="!rates">
          <ion-spinner name="dots"></ion-spinner>
        </ion-item>
        <!-- *ngIf="formCoins.get.name !== 'WDUCX'; else elseTemplate" -->
        <ion-item class="calculator-text" *ngIf="rates">
      
          <ion-label stacked
          >1 {{ coin_info[calculatorForm.value.sendCoin] }} = {{
          rates[calculatorForm.value.getCoin][calculatorForm.value.sendCoin] }} {{
          coin_info[calculatorForm.value.getCoin] }}</ion-label
        >
        
        </ion-item>

        <div class="calculator-form-group">
          <ion-item class="calculator-input">
            <ion-label stacked>{{'Get' | translate}}</ion-label>
            <ion-input
              [disabled]="!rates"
              type="number"
              formControlName="getAmount"
              [value]="calculatorForm.value.getAmount"
              (click)="selectInputType('Get')"
              (ionChange)="changeAmount('Get')"
              required
            >
            </ion-input>
          </ion-item>

          <ion-item
            class="calculator-select calculator-loading-select"
            *ngIf="!rates"
          >
            <ion-spinner name="dots"></ion-spinner>
          </ion-item>

          <ion-item class="calculator-select" *ngIf="rates">
            <ion-select
              class="calculator-select-ion"
              interface="popover"
              formControlName="getCoin"
              [(ngModel)]="calculatorForm.value.getCoin"
              (ionChange)="changeCoin('Get')"
            >
              <ion-option *ngFor="let item of formCoins.get.items" [value]="item">
                {{ item }}</ion-option
              >
            </ion-select>
          </ion-item>
        </div>

        <div class="calculator-attention" *ngIf="!isAvailableSwap">
          {{this.formCoins.send}} to {{this.formCoins.get.name}} swap is
          currently restricted, please try again later
        </div>

        <button
          ion-button
          class="button-standard calculator-button"
          (click)="goToConvertPage()"
          [disabled]="!calculatorForm.valid || !rates || !isAvailableSwap"
          *ngIf="isAvailableSwap"
        >
          {{'Convert' | translate}}
        </button>

        <button
          ion-button
          class="button-standard calculator-swap-button"
          (click)="showSwapHistory()"
          [disabled]="!historyIsLoaded || !swapHistory || !swapHistory.length"
        >
          {{ this.isShowSwapHistory ? 'Hide SWAP History' : 'View SWAP History' }}
        </button>
      </form>
    </ion-list>

    <ion-list *ngIf="isShowSwapHistory && swapHistory && swapHistory[0]" class="tx-history">

      <div class="item-wrapper" *ngFor="let tx of swapHistory; trackBy: trackByFn; let i = index">

        <button ion-item (click)="itemTapped(tx)">

          <ion-icon class="item-img" item-start>
            <div *ngIf="tx.confirmations > 0">
              <span>
                <img src="assets/img/tx-action/swap.svg" width="40">
              </span>
            </div>
          </ion-icon>

          <div class="action" *ngIf="tx.confirmations > 0 && tx.action == 'moved'">
            <span *ngIf="(tx.message && (tx.note && !tx.note.body))" translate>Moved</span>
            <span *ngIf="((!tx.note || (tx.note && !tx.note.body)) && !tx.message)" translate>Moved</span>
            <span *ngIf="!tx.note && tx.message">{{tx.message}}</span>
            <span *ngIf="tx.note && tx.note.body != ''">{{tx.note.body}}</span>
          </div>

          <div class="action" *ngIf="tx.swap">
            <div>
              <span>Swap from {{tx.swap.convertedFrom}} to {{tx.swap.convertedTo}}</span>
            </div>
            <div class="swap-block">
              <span class="swap-block-amount">{{tx.amountStr}}</span>
            </div>
            <div class="swap-block">
              <span>Status</span> 
              <span class="swap-block-status">{{tx.swap.status}}</span>
            </div>
          </div>

          <ion-note item-end text-end>
            <div class="date">
              <span *ngIf="tx.time && createdWithinPastDay(tx.time * 1000)">{{tx.time * 1000 | amTimeAgo}}</span>
              <span *ngIf="tx.time && !createdWithinPastDay(tx.time * 1000)">{{tx.time * 1000 | amDateFormat:'MMM
                D, YYYY'}}</span>
            </div>
          </ion-note> 
        </button>
      </div>
    </ion-list>

  </div>

  <!--
    <div class="control-container" ion-fixed>
      <div class="ducatus-scan-buttons">
        <button class="ducatus-scan-button" (click)="openMoonPay()">
          <span class="ducatus-scan-button_icon">
            <img src="assets/img/tab-icons/tab-buy.svg" />
          </span>
          <span class="ducatus-scan-button_icon_active">
            <img src="assets/img/tab-icons/tab-buy-active.svg" />
          </span>
          <span class="ducatus-scan-button_text" translate>Buy</span>
        </button>
        <button class="ducatus-scan-button activated">
          <span class="ducatus-scan-button_icon">
            <img src="assets/img/tab-icons/tab-swap.svg" />
          </span>
          <span class="ducatus-scan-button_icon_active">
            <img src="assets/img/tab-icons/tab-swap-active.svg" />
          </span>
          <span class="ducatus-scan-button_text" translate>Swap</span>
        </button>
        <button class="ducatus-scan-button">
          <span class="ducatus-scan-button_icon">
            <img src="assets/img/tab-icons/tab-deposits.svg" />
          </span>
          <span class="ducatus-scan-button_icon_active">
            <img src="assets/img/tab-icons/tab-deposits-active.svg" />
          </span>
          <span class="ducatus-scan-button_text" translate>Deposits</span>
        </button>
        <button class="ducatus-scan-button" (click)="openVoucher()">
          <span class="ducatus-scan-button_icon">
            <img src="assets/img/tab-icons/tab-voucher.svg" />
          </span>
          <span class="ducatus-scan-button_icon_active">
            <img src="assets/img/tab-icons/tab-voucher-active.svg" />
          </span>
          <span class="ducatus-scan-button_text" translate>Voucher</span>
        </button>
      </div>
    </div>
  -->
</wide-header-page>
