<wide-header-page>
  <div page-content class="calculator-page">

    <ion-list class="calculator-list bp-list">

      <div class="calculator-explanation">
        <div class="calculator-heading" translate>Calculator</div>
      </div>

      <form [formGroup]="CalculatorGroupForm">

        <div class="calculator-form-group">

          <ion-item class="calculator-input">
            <ion-label stacked>{{'Get' | translate}}</ion-label>
            <ion-input type="number" formControlName="CalculatorGroupGet"
              [value]="CalculatorGroupForm.value.CalculatorGroupGet" (click)="selectInputType('Get')"
              (ionChange)="changeAmount('Get')" required>
            </ion-input>
          </ion-item>

          <ion-item class="calculator-select">
            <ion-select class="calculator-select-ion" interface="popover" formControlName="CalculatorGroupGetCoin"
              [(ngModel)]="CalculatorGroupForm.value.CalculatorGroupGetCoin" (ionChange)="changeCoin('Get')">
              <ion-option *ngFor="let item of convertGetCoins" [value]="item"> {{ item }}</ion-option>
            </ion-select>
          </ion-item>

        </div>

        <ion-item class="calculator-text">
          <ion-label stacked>1 {{ coin_info[formCoins.get.name] }} = {{ rates[formCoins.get.name][formCoins.send] }}
            {{ coin_info[formCoins.send] }}</ion-label>
        </ion-item>

        <div class="calculator-form-group">

          <ion-item class="calculator-input">
            <ion-label stacked>{{'Send' | translate}}</ion-label>
            <ion-input type="number" formControlName="CalculatorGroupSend"
              [value]="CalculatorGroupForm.value.CalculatorGroupSend" (click)="selectInputType('Send')"
              (ionChange)="changeAmount('Send')" required>
            </ion-input>
          </ion-item>

          <ion-item class="calculator-select">
            <ion-select class="calculator-select-ion" interface="popover" formControlName="CalculatorGroupSendCoin"
              [(ngModel)]="CalculatorGroupForm.value.CalculatorGroupSendCoin" (ionChange)="changeCoin('Send')">
              <ion-option *ngFor="let item of formCoins.get.items" [value]="item">{{ item }}</ion-option>
            </ion-select>
          </ion-item>

        </div>

        <button ion-button class="button-standard calculator-button" (click)="goToConvertPage()"
          [disabled]="!CalculatorGroupForm.valid">
          {{'Convert' | translate}}
        </button>
      </form>

    </ion-list>

  </div>
</wide-header-page>