.calculator {
  &-page {
    padding: 21px;
  }
  &-attention {
    color: red;
    margin-top: 20px;
    text-align: center;
  }

  &-input {
    border-radius: 5px;
  }

  &-loading {
    &-select {
      .label {
        display: flex !important;
        justify-content: center !important;
        margin: 0 !important;
      }
    }
  }

  &-heading {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 25px;
  }

  &-text {
    background: none;
    margin-bottom: 10px !important;
    padding-left: 0px !important;

    .label {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      mix-blend-mode: normal;
      opacity: 0.5;
    }
  }

  &-form {
    &-group {
      position: relative;
    }
  }

  &-select {
    position: absolute;
    top: 15px;
    width: 100px;
    right: 10px;
    background-color: #f7f3eb;
    border-radius: 5px;
    height: 45px;
    padding-left: 5px !important;

    &-ion {
      max-width: 100%;
    }
  }

  &-button {
    max-width: 100%;
    width: 100%;
    margin-top: 25px;
  }

  &-swap-button {
    max-width: 100%;
    width: 100%;
    margin-top: 25px;
    color: #862633;
    background-color: transparent;
    border: 1px solid #862633;
  }

  &-swap-button:hover {
    color: #ffffff;
  }

  &-convert {
    &-type {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 15px;

      &-send,
      &-get {
        background: #ffffff;
        border-radius: 4px;
        padding: 8px 10px;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #862633;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 5px;

        span {
          color: #000000;
        }

        .item-img {
          margin: 0px 10px;
        }
      }
    }

    &-group {
      position: relative;
      border-radius: 4px;
    }

    &-label {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      opacity: 0.5;
      margin-top: 30px;
      margin-bottom: 10px;
      display: block;
    }

    &-input {
      background: #fff;
      border-radius: 4px;
      padding-left: 5px !important;
    }

    &-select {
      position: absolute;
      top: 0;
      width: 40px;
      right: 0;
      // border-left: 2px solid #edece8 !important;
      border-radius: 0px 4px 4px 0px !important;
      margin: 0 !important;
      padding: 0 !important;
      height: 100%;

      .item-inner {
        margin: 0 !important;
        padding: 0 !important;
      }

      .label-md {
        margin: 0 10px !important;
        font-size: 25px !important;
      }
    }
  }
}

.tx-history {
  $wallet-details-primary-color: #862633;
  $icon-width: 36px;

  .tx-history-header {
    height: 5rem;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;

    .ng-star-inserted {
      font-size: 18px;
      font-weight: 600;
      color: #444444;
    }

    &--large {
      &.item {
        ion-label {
          font-size: 15px;
        }
      }
    }

    &.item {
      min-height: 26px;
      background: $feather-dark;

      ion-label {
        margin: 0;
        font-size: 14px;
      }

      .item-inner {
        padding: 0 !important;
      }
    }

    ion-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .txps-badge {
      margin-right: 1rem;
    }
  }

  .item-wrapper {
    margin-bottom: 10px;

    &:last-child {
      .item-inner {
        border-bottom: 0;
      }
    }
  }

  .item {
    font-size: 16px;
    padding-left: 19px;

    .item-icon {
      margin-right: 15px;
    }

    .item-inner {
      background-image: none;
      padding: 11px 10px 11px 0;
      margin-left: 3px;
      border-bottom: 1px solid color($colors, light);
    }
  }

  img {
    width: $icon-width;
  }

  .action {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .amount {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: color($colors, dark);

    .received {
      color: color($colors, success);
    }
  }

  .date {
    font-size: 14px;
    margin-top: 8px;
    opacity: 0.4;
    font-weight: 300;
    color: #434d5a;
  }

  .proposal-container {
    .item .item-inner {
      padding: 0 10px 0 0;
    }

    .date {
      margin-top: 0px;
    }
  }

  .swap-block {
    margin-top: 10px;

    &-status {
      color: #862633;
    }

    &-amount {
      color: #862633;
    }
  }
}
