<wide-header-page title="{{'Wallet Settings' | translate}}">
  <div page-content>
    <ion-list class="settings-list bp-list">
      <button ion-item (click)="openWalletName()">
        <div translate float-left>Name</div>
        <ion-note item-end>
          {{wallet && wallet.name}}
        </ion-note>
      </button>
      <ion-item class="with-label no-border">
        <ion-label>{{'Hide Wallet' | translate }}</ion-label>
        <ion-toggle checked="{{wallet?.hidden}}" (ionChange)="hiddenWalletChange(wallet.id)"></ion-toggle>
      </ion-item>
      <label-tip class="info" type="info" header="no-header" *ngIf="!wallet?.hidden">
        <div label-tip-body translate>
          The wallet won't be removed from this device. You can hide it whenever you need it.
        </div>
      </label-tip>
      <ion-item>
        <ion-label>{{'Hide Balance' | translate}}</ion-label>
        <ion-toggle [(ngModel)]="hiddenBalance" (ionChange)="hiddenBalanceChange()"></ion-toggle>
      </ion-item>
      <ion-item-divider *ngIf="canSign && touchIdAvailable">{{'Security' | translate}}</ion-item-divider>
      <div *ngIf="canSign && touchIdAvailable">
        <ion-item>
          <ion-label [ngClass]="{'disabled': needsBackup}">{{'Request Biometric Authentication'| translate}}</ion-label>
          <ion-toggle [(ngModel)]="touchIdEnabled" (ionChange)="touchIdChange()"></ion-toggle>
        </ion-item>
      </div>
      <ion-item-divider>{{'Advanced' | translate}}</ion-item-divider>
      <button ion-item (click)="openWalletInformation()">
        <span translate>Information</span>
      </button>
      <button *ngIf="isCordova" ion-item (click)="printPaperWallet()">
        <span translate>Print Paper wallet</span>
      </button>
      <button ion-item (click)="openWalletAddresses()">
        <span translate>Addresses</span>
      </button>
      <button ion-item (click)="openExportWallet()">
        <span translate>Export Wallet</span>
      </button>
      <button ion-item (click)="openWalletServiceUrl()">
        <span>Wallet Service URL</span>
      </button>
      <button ion-item (click)="openTransactionHistory()">
        <span translate>Transaction History</span>
      </button>
      <button ion-item (click)="openDuplicateWallet()" *ngIf="showDuplicateWallet">
        <span translate>Duplicate to BCH</span>
      </button>
      <button *ngIf="!canSign" ion-item (click)="openWalletGroupDelete()">
        <span translate>Delete</span>
      </button>
    </ion-list>
  </div>
</wide-header-page>

<div #paperpdf hidden *ngIf="paperParams">
  <!--<html>-->
  <!--<body id="paper-pdf">-->
  <div>
    <div class="content-top"> <img src="https://www.ducatuscoins.com/assets/img/printpaperwallet.png" /> </div>
    <div class="content-bottom">
      <div class="content-bottom-left">
        <p class="content-bottom-text"><b>Your public address</b></p>
        <div class="content-bottom-qrcode">
          <ngx-qrcode hide-toast="true" qrc-value="{{paperParams.wallet_address}}" qrc-errorCorrectionLevel="M">
          </ngx-qrcode>
        </div>
        <p class="content-bottom-address">{{paperParams.wallet_address}}</p>
        <p class="content-bottom-text">to be used for receiving {{paperParams.wallet_coin}}</p>
      </div>
      <div class="content-bottom-right">
        <p class="content-bottom-text"> <b>Your private wallet recovery key</b></p>
        <div class="content-bottom-qrcode">
          <ngx-qrcode hide-toast="true" qrc-value="{{paperParams.key_qr}}" qrc-errorCorrectionLevel="M">
          </ngx-qrcode>
        </div>
        <p class="content-bottom-text">This key is all you needed to access your founds.</p>
      </div>
    </div>
  </div>
  <!--</body>-->
  <!--</html>-->
</div>